// .card{
//   background: linear-gradient(135deg, #e2c8934d 0%, #ffffff80 50%, #ebd8b2 100%);
// }

.card {
  background-color: #FFFFFF;

}


.doted {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;

  &.small_doted {
    width: 15px;
    height: 15px;

    &.success {
      @apply bg-success_color;
      box-shadow: 0 0 0px 3px #B6FCCD, 0 0 0px 5px #E4FFED;
    }

    &.danger {
      @apply bg-danger_color;
      box-shadow: 0 0 0px 3px #FFDADA, 0 0 0px 5px #FFDFDF;
    }
  }

  &.success {
    @apply bg-success_color;
    box-shadow: 0 0 0px 6px #B6FCCD, 0 0 0px 7px #E4FFED;
  }

  &.danger {
    @apply bg-danger_color;
    box-shadow: 0 0 0px 6px #FFDADA, 0 0 0px 7px #FFDFDF;
  }

}


::ng-deep .devices_table .p-datatable-table {
  border-collapse: separate !important;
  border-spacing: 0 1rem;
  /* <-- adjust vertical gap here */
}

::ng-deep .devices_table .p-datatable .p-datatable-thead>tr>th {
  background-color: transparent;
  @apply text-primary text-center;
}

::ng-deep .devices_table .p-datatable .p-datatable-tbody {
  background-color: transparent;
}

::ng-deep .devices_table .p-datatable .p-datatable-tbody>tr>td {
  @apply text-center bg-white_color;
}

::ng-deep .devices_table.ltr_dir .p-datatable .p-datatable-tbody>tr>td:first-child {
  border-top-left-radius: 2.5rem;
  border-bottom-left-radius: 2.5rem;
}

::ng-deep .devices_table.ltr_dir .p-datatable .p-datatable-tbody>tr>td:last-child {
  border-top-right-radius: 2.5rem;
  border-bottom-right-radius: 2.5rem;
}

::ng-deep .devices_table.rtl_dir .p-datatable .p-datatable-tbody>tr>td:first-child {
  border-top-right-radius: 2.5rem;
  border-bottom-right-radius: 2.5rem;
}

::ng-deep .devices_table.rtl_dir .p-datatable .p-datatable-tbody>tr>td:last-child {
  border-top-left-radius: 2.5rem;
  border-bottom-left-radius: 2.5rem;
}


::ng-deep .devices_table .p-datatable .p-datatable-tbody>tr {
  @apply rounded-3xl;
  background-color: transparent;
}


::ng-deep .namespace_action {
  &.p-menu {
    @apply rounded-2xl;
    padding: .75rem;

    .p-submenu-header {
      display: none;
    }

    .p-menuitem-icon {
      @apply flex items-center justify-center;
    }
  }
}






::ng-deep .select_type_popup {
  position: relative;

  .p-dialog-header {

    .p-dialog-header-icons {
      display: none;
    }
  }


  &.user {
    .icon_over_lay {
      top: -6% !important;
    }
  }


  .p-dialog-content {
    .icon_over_lay {
      position: absolute;
      top: -12%;
      left: 50%;
      transform: translateX(-50%);
      width: 80px;
      height: 80px;
      @apply bg-white_color;
      border-radius: 50%;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      -ms-border-radius: 50%;
      -o-border-radius: 50%;
      -webkit-transform: translateX(-50%);
      -moz-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
      -o-transform: translateX(-50%);

    }


    .single_type {
      width: 180px;
      box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.2509803922);
    }
  }
}


.btn_view {

  span {
    display: none;
  }

  &:hover {
    span {
      display: block;
    }
  }
}


.icon_filter {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;


  .count {
    width: 20px;
    height: 20px;
    position: absolute;
    top: -4px;
    right: -10px;
  }
}
