<section class="h-full bg-white_color p-20 flex flex-col justify-evenly gap-32">
  <div>
    <div class="logo mb-12">
      <img src="images/logo_primary.svg" alt="">
    </div>
    <h1 class="mb-6 text-4xl font-semibold"><span class="block mb-2">{{"TITLES.WELCOME"|translate}}</span><span
        class="text-primary">{{"TITLES.IOTECH"|translate}}</span></h1>


    <p class="font-medium">{{"AUTH.DESC"|translate }} <span class="text-primary">
        <a href="">Support&#64;e-tec.sa</a>
      </span></p>
  </div>



  <div class="text-center flex items-end justify-center gap-4">
    <img width="100" src="images/Group.svg" alt="">
    <p>{{"AUTH.FOOTER"|translate}}</p>
  </div>

</section>
