<div class="flex flex-col  justify-center  h-full">
  <div class="head text-center mb-8 lg:w-3/5 mx-auto w-full">
    <h2 class="text-4xl font-semibold text-white_color mb-4">
      {{ 'AUTH.UPDATE_PASSWORD_TITLE' | translate }}
    </h2>
    <p class="text-sm text-white_color">
      {{ 'AUTH.UPDATE_PASSWORD_DESC' | translate }}
    </p>
  </div>

  <div class="login_form flex justify-center mb-8">
    <form [formGroup]="update_password_form" class="login_form relative lg:w-3/5 w-full">
      <div class="form_group mb-8">
        <label class="text-white_color block mb-3 " for="">
          {{ 'AUTH.NEW_PASSWORD' | translate }}
        </label>
        <div class="input_icon_group mb-2">
          <i (click)="isShowPass.set(!isShowPass())"
            [ngClass]="{'fi-rr-eye': !isShowPass() , 'fi fi-rr-eye-crossed':isShowPass()}"
            class="fi text-primary cursor-pointer pass_toggle"></i>
          <input autocomplete="new-password" id="new_password" formControlName="new_password"
            [type]="!isShowPass() ? 'password':'text'" pInputText placeholder="***********" />
          <i class="fi text-primary text-lg fi-rr-lock"></i>
        </div>
        @if(update_password_form.get('new_password')?.errors && update_password_form.get('new_password')?.touched){
        <div>
          @if(update_password_form.get('new_password')?.getError('required')){
          <p class="p-2 text-sm text-danger_color m-0">{{ 'AUTH.NEW_PASSWORD_REQ' | translate }}</p>
          }
          @if(update_password_form.get('new_password')?.getError('inVaild')){
          @for(error of passwordValidationError ; track error){
          <p class="p-2 text-sm text-danger_color m-0">{{error}}</p>
          }
          }
        </div>
        }
      </div>
      <div class="form_group mb-14">
        <label class="text-white_color block mb-3 " for="">
          {{ 'AUTH.CONFIRM_PASSWORD' | translate }}
        </label>
        <div class="input_icon_group mb-2">
          <i (click)="isShowPassConfirm.set(!isShowPassConfirm())"
            [ngClass]="{'fi-rr-eye': !isShowPassConfirm() , 'fi fi-rr-eye-crossed':isShowPassConfirm()}"
            class="fi text-primary cursor-pointer pass_toggle"></i>
          <input autocomplete="new-password" id="confirm_password" formControlName="confirm_password"
            [type]="!isShowPassConfirm() ? 'password':'text'" pInputText placeholder="***********" />
          <i class="fi text-primary text-lg fi-rr-lock"></i>
        </div>
        @if(update_password_form.get('confirm_password')?.errors &&
        update_password_form.get('confirm_password')?.touched){
        <div>
          @if(update_password_form.get('confirm_password')?.getError('required')){
          <p class="p-2 text-sm text-danger_color m-0">{{ 'AUTH.CONFIRM_PASSWORD_REQ' | translate }}</p>
          }
          @if(update_password_form.get('confirm_password')?.getError('passwordMismatch')){
          <p class="p-2 text-sm text-danger_color m-0">{{ 'AUTH.PASSWORDS_DONT_MATCH' | translate }}</p>
          }
        </div>
        }
      </div>
      <div class="auth_btn">
        <p-button [loading]="isLoading()" [label]="'AUTH.UPDATE_PASSWORD' | translate"
          [disabled]="update_password_form.invalid" />
      </div>
    </form>
  </div>
</div>
