<section class="bg-white_color rounded-3xl p-8">

  <div class="devices_types__container grid grid-cols-12 gap-6 ">
    <div class="form-group col-span-12">
      <div class=" ">
        <label class="block mb-2" for="">{{ 'ROLES_PERMISSIONS.ROLE_NAME' | translate }}</label>
        <input pInputText [placeholder]="'ROLES_PERMISSIONS.ROLE_NAME' | translate" />
      </div>
    </div>
    <div class="form-group col-span-12">
      <div class=" ">
        <label class="block mb-2" for="">{{ 'ROLES_PERMISSIONS.DESCRIPTION' | translate }}</label>
        <input pInputText [placeholder]="'ROLES_PERMISSIONS.DESCRIPTION' | translate" />
      </div>
    </div>
    <div class="col-span-12 permsiions mb-8">
      <p-accordion [expandIcon]="'fi fi-rr-angle-small-down'" [collapseIcon]="'fi fi-rr-angle-small-up'"
        [activeIndex]="0">
        @for(device of devicesTypes ; track device){

        <p-accordionTab tabStyleClass="mb-4" [header]="device.name">
          <div class="flex items-center justify-between">
            @for(per of device.permssions ; track per){
            <div class="input_group flex items-center gap-2 flex-row-reverse">
              <label for="">{{ per?.name }}</label>
              <p-checkbox [binary]="true" [(ngModel)]="per.isSelected" inputId="binary" />
            </div>
            }
            <!-- <div class="input_group flex items-center gap-2 flex-row-reverse">
                    <label for="">{{ 'USERS.ADD' | translate }}</label>
                    <p-checkbox [binary]="true" inputId="binary" />
                  </div>
                  <div class="input_group flex items-center gap-2 flex-row-reverse">
                    <label for="">{{ 'USERS.UPDATE' | translate }}</label>
                    <p-checkbox [binary]="true" inputId="binary" />
                  </div>
                  <div class="input_group flex items-center gap-2 flex-row-reverse">
                    <label for="">{{ 'USERS.VIEW' | translate }}</label>
                    <p-checkbox [binary]="true" inputId="binary" />
                  </div>
                  <div class="input_group flex items-center gap-2 flex-row-reverse">
                    <label for="">{{ 'USERS.DELETE' | translate }}</label>
                    <p-checkbox [binary]="true" inputId="binary" />
                  </div> -->
          </div>
        </p-accordionTab>
        }
      </p-accordion>
    </div>
  </div>


  <div class="flex justify-end">
    <div class="action_btn">
      <p-button [label]="'ROLES_PERMISSIONS.SAVE' | translate" />
    </div>
  </div>
</section>