/* You can add global styles to this file, and also import other style files */
@use "primeng/resources/themes/lara-light-blue/theme.css";
@use "primeng/resources/primeng.css";
@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&display=swap');
@import "@flaticon/flaticon-uicons/css/all/all";


:root {
  --primaryColor: 213 28 84;
  --primaryWhite: 253 253 253;
  --whiteColor: 255 255 255;
  --gray_light: 208 208 208;
  --red_light: 255 244 249;
  --danger_color: 255 49 65;
  --black_color: 0 0 0;
  --blue_color: 0 216 221;
  --success_color: 0 181 120;
  --warning_color: 255 149 0;
  --gold_color: 159 138 96;
  --light_white: 238 238 238;
}


.filterDailog {
  height: 100% !important;
  max-height: 100%;
  margin: 0;
}





body {
  background-color: #F5F5F5;
  font-family: "Cairo", sans-serif !important;
}

* {
  font-family: "Cairo", sans-serif !important;
}

i {
  display: flex;
  justify-content: center;
  align-items: center;
}

.p-dropdown {
  @apply bg-custom_white rounded-3xl border border-gray_light;
  width: 100%;

  box-shadow: none;
  outline: none;

  &:focus {
    box-shadow: none;
  }

  .p-inputtext {
    @apply bg-white_color;
    border: none !important
  }
}

.p-inputtext {
  @apply bg-white_color rounded-3xl;
  width: 100%;
  padding: .8rem 1.5rem;

  @apply border border-gray_light;

  &:focus {
    box-shadow: none;
  }
}


.input_icon_group {
  position: relative;


  .p-inputtext {
    padding-inline-start: 4rem;

    &.ng-dirty.ng-invalid {
      border: 1px solid red;
    }

  }

  i {
    position: absolute;
    top: 50%;
    inset-inline-start: 1.5rem;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
  }
}

i.pass_toggle {
  inset-inline-end: 1.5rem !important;
  inset-inline-start: auto;
}


.auth_btn {
  .p-button {
    @apply w-full bg-black_color rounded-3xl;
    padding: 1rem;

    .p-button-label {
      @apply text-white_color;
    }
  }
}


.action_btn {
  .p-button {
    @apply w-full bg-primary  rounded-2xl;
    padding: 10px 24px;
  }

  .p-button-label {
    @apply text-white_color;
  }
}



.adon-input {
  // min-width: 300px;
  height: 60px;


  i {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    inset-inline-start: 0.75rem;
  }
}


.adon-input .p-inputtext {
  @apply bg-white_color shadow-sm;
  // box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.2509803922) !important;
  padding: 1rem;
  padding-inline-start: 2.5rem;
}


.p-calendar {
  @apply bg-white_color rounded-3xl;
  width: 100%;

  &:focus {
    box-shadow: none;
  }

  .p-calendar-clear-icon {
    // margin-top: 0;
    margin-right: .5rem;
  }
}

.p-datepicker {
  z-index: 999999;
  padding: 0;
}


.p-datepicker-group-container td {
  padding: 0 !important;
}


.p-datepicker table td {
  padding: 0;
}


.p-datepicker .p-datepicker-header {
  padding: 0;
}

.p-datepicker .p-timepicker {
  padding: 0;
  line-height: .5;
}


.p-checkbox-box {
  border: 2px solid #A2BACB;
  box-shadow: none;
  outline: none;
}

.p-checkbox .p-checkbox-box.p-highlight{
  background-color: #D51C54;
  border: none;
}


.p-accordion {
  .p-accordion-header-link {
    flex-direction: row-reverse;
    background-color: white;
    justify-content: space-between;
    @apply  shadow-sm rounded-full;
    background-color: #FFF5F8;
  }
}
